.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
.idea/

/example/android/app/google-services.json
/example/android/app/agconnect-services.json
/example/android/app/flutter
/example/android/app/debug.keystore