<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.relateddigital.flutter">

    <application>
        <service
            android:name="com.relateddigital.flutter.RelatedDigitalMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
